<div class="darky flex h-16 justify-center">
    <!--<ul class="text-white">
      <li *ngFor="let billionaire of posts">
        Je m'appelle {{billionaire.title}} - {{billionaire.description}}
      </li>
    </ul>-->
    <img class="mr-2 animate-pulse flex lg:hidden" src="../../../assets/logos/logo.jpg" alt="logo du site" (click)="toggleNavbar()" />
    <ul class="hidden lg:flex text-white justify-around">
        <li class="m-2 font-bold esto text-4xl mx-4 hover:translate-y-2"><button routerLink="/home" routerLinkActive="active-link">Accueil</button></li>
        <li class="m-2 font-bold esto text-4xl mx-4 hover:translate-y-2"><button routerLink="/équipe" routerLinkActive="active-link">L'équipe</button></li>
        <li class="m-2 font-bold esto text-4xl mx-4 hover:translate-y-2"><button routerLink="/tats" routerLinkActive="active-link">Tatouages</button></li>
        <li class="m-2 font-bold esto text-4xl mx-4 hover:translate-y-2"><button routerLink="/guests" routerLinkActive="active-link">Guests</button></li>
        <li class="m-2 font-bold esto text-4xl mx-4 hover:translate-y-2"><button routerLink="/piercings" routerLinkActive="active-link">Piercings</button></li>
        <li class="m-2 font-bold esto text-4xl mx-4 hover:translate-y-2"><button routerLink="/beer" routerLinkActive="active-link">Cave à bière</button></li>
        <li class="m-2 font-bold esto text-4xl mx-4 hover:translate-y-2"><button routerLink="/salon-de-thé" routerLinkActive="active-link">Salon de thé</button></li>
        <li class="m-2 font-bold esto text-4xl mx-4 hover:translate-y-2"><button routerLink="/disc" routerLinkActive="active-link">Disquaire</button></li>
        <li class="m-2 font-bold esto text-4xl mx-4 hover:translate-y-2"><button routerLink="/event" routerLinkActive="active-link">Evènements</button></li>
        <li class="m-2 font-bold esto text-4xl mx-4 hover:translate-y-2"><button routerLink="/commitments" routerLinkActive="active-link">Nos engagements</button></li>
        <li class="m-2 font-bold esto text-4xl mx-4 hover:translate-y-2"><button routerLink="/contact" routerLinkActive="active-link">Nous contacter</button></li>
    </ul>
</div>
<div class="w-full h-24 bg-black justify-between flex border-b-4 border-gray-300 absolute z-50" *ngIf="showMenu">
    <p class="m-2 text-white text-2xl font-bold hover:cursor-pointer">TEST1</p>
    <p class="m-2 text-white text-2xl font-bold hover:cursor-pointer">TEST1</p>
    <p class="m-2 text-white text-2xl font-bold hover:cursor-pointer">TEST1</p>
    <p class="m-2 text-white text-2xl font-bold hover:cursor-pointer">TEST1</p>
</div>