<div class="darky flex h-24 border-b-4 border-gray-300 justify-between">
    <p class="sm:text-6xl text-gray-200 self-center ml-2 esto">Les Apothicaires*</p>
    <!--<p class="text-white">Lumiére = {{ getLightStatus() }}</p>-->
    <ul class="text-white">
      <li *ngFor="let billionaire of posts">
        Je m'appelle {{billionaire.firstName}} - {{billionaire.lastName}}
      </li>
    </ul>
    <app-the-button class="self-center mr-5" (click)="toggleNavbar()"></app-the-button>
</div>
<div class="w-full h-24 bg-gray-500 justify-between flex" *ngIf="showMenu">
  <p class="m-2 text-white text-2xl font-bold hover:cursor-pointer">TEST1</p>
  <p class="m-2 text-white text-2xl font-bold hover:cursor-pointer">TEST1</p>
  <p class="m-2 text-white text-2xl font-bold hover:cursor-pointer">TEST1</p>
  <p class="m-2 text-white text-2xl font-bold hover:cursor-pointer">TEST1</p>
</div>
